@import "hover/hover.css";
@import "pages/aboutme.css"

body {
  background-color: rgb(245, 245, 245);
  
  
}

h1, p {
  color: #0c2231;
  font-family: 'Poppins', sans-serif;
  text-shadow: 0px 0px 15px rgba(150, 150, 150, 0.2);
}

h1 {
  font-weight: bold;
}

a, a:hover {
  text-decoration: none;
}

.page-container {
  display: grid;
  grid-template-rows: min-content auto min-content;
  padding: 2em;
  height: 100vh;
  width: 100vw;
}

.content {
  /* display: flex; */
  /* padding: 0 2em 0 2em; */
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
}

.content-text{
  margin: auto 0;
}

.header {
  display: flex;
  justify-content: space-between;
}

.tabs-top {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.tab {
  padding-right: 1em;
  
}

.social-icons {
  display: flex;
  justify-content: space-evenly;
}

.social-icon {
  font-size: 40px;
  color: #0c2231;
}

#img-content {
  width: 100%;
}
