@import "hover/hover.css";
@import "pages/aboutme.css"

body {
  background-color: rgb(245, 245, 245);
}

h1, p {
  /* color: #0c2231; */
  font-family: 'Poppins', sans-serif;
  text-shadow: 0px 0px 15px rgba(150, 150, 150, 0.2);
}

a, a:hover {
  text-decoration: none;
}

.page-container {
  position: relative;
}

.buttons {
  position: absolute;
  padding: 1em;
}

.content {
position: relative;
height: 100vh;
background-color: #0c2231;
z-index: -1;
}

#bg-image {
  background-image: url("images/self.jpg");
  display: block;
  position: absolute;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0.4;
  z-index: -1;
}

#title {
  /* z-index: 3; */
  color: white;
  height: 98vh;
  display: flex;
  flex-direction: column-reverse;
  font-size: 1.9em;
  padding: 0 0.9em 0.9em 0.9em;
  font-family: 'Indie Flower', cursive;
}

.section-container {
  height: 100vh;
  padding: 1em;
  
}

.section-container h1 {
  font-size: 24;
  font-weight: bold;
  text-align: center;
}

.section-container p {
  line-height: 1.2em;
  text-align: justify;
}

.btn a p {
  margin-bottom: 0;
  color: white;
}